<html ng-app="findNodeConnApp" >
<head>
	<base href="/">
	<!-- Necessary because we have compatibility mode set for localhost in our IE 11 browser. 
		If we do not include this, then we will get error on jQuery that 'object doesn't support addEventListener()..''
	-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>Link Chart - Find Connections</title>
	<!-- <style type="text/css" media="screen">
        html, body, svg { width: 100%; height: 100%;}
    </style> -->

	<!-- Boot Strap -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>

	<!-- For jquery 'fadeTo' or 'fadeOut' and etc functions, they are no available in the 'jquery-3.2.1.slim.min.jg' file
		 so we need to use the non-slim version for the functions to work. Currently we are using those functions for
		 the alert message -->
	<!-- <script src="javascripts/jquery-3.2.1.slim.min.js"></script> -->
    <script src="javascripts/jquery-3.2.1.min.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>



	<script src="/vis_scripts/vis.js"></script>
	<link href="/vis_scripts/vis.css" rel="stylesheet" type="text/css" />
	<link href="/vis_scripts/vis-network.min.css" rel="stylesheet" type="text/css" />
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />

	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/findNodeConnApp.js"></script>
	<script src="javascripts/graphSvc.js"></script>
	<script src="javascripts/notificationCtrl.js"></script>


	<script src="javascripts/jquery.dataTables.min.js"></script>
	<link href="stylesheets/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

	<!-- Sample data for demo purpose -->
	<script src="sampleData/callLogsSampleData.js"></script>
	<script src="sampleData/chatsSampleData.js"></script>
	<script src="sampleData/contactsSampleData.js"></script>

</head>
<body ng-controller="findNodeConnCtrl" class="container-fluid" 	ng-cloak>

	<div ng-include="'subHtml/notification_msg.html'"></div>

	<div id="mainRow" class="row">
		<div id="leftPanel" class="col-md-2">
			<div ng-include="'subHtml/leftSideBar.html'"></div>
		</div>
		<div id="centerPanel" class="col-md-8">
			<div id="connSearchPanel" class="row" style="height:10%">

				<div class="col-md-9">
					<div style="color:white; float:left">
						<p style="color:white; margin-top:5px">Enter Tel 1</p>
					</div>
					<div style="float:left; margin-left:10px;">
						<input ng-model="connTel1"  type="text" class="form-control inputConnTel" />
					</div>

					<div style="color:white; float:left; margin-left:25px">
						<p style="color:white; margin-top:5px">Enter Tel 2</p>
					</div>
					<div style="float:left; margin-left:10px;">
						<input ng-model="connTel2"  type="text" class="form-control inputConnTel" />
					</div>
				</div>
				<div class="col-md-3">
					<button class="btn btn-primary btn-block btnWithIcon btnFindConn" 
						style=" white-space: normal; margin-top:0px; text-align: justify;"
						ng-click="FindConnectionBetweenTwoNodes(connTel1, connTel2)">Find Connections</button>
				</div>
			</div>
			<div id="graphPanel" class="row" style="height:88% !important;" >
				<div class="col-md-12 bottomBorder" style="padding-bottom: 15px; height:10% !important;">
					<div class="row">
						<div class="col-md-4">
							<input ng-model="nodeIdToFocus" type="text" class="form-control" 
									placeholder="Enter tel. to focus to it">
						</div>
						<div class="col-md-8">
							<div class="btn btn-primary btnWithIcon btnFocus" ng-click="FocusViewToNode(nodeIdToFocus)">Focus</div>
							<div id="btnFit" class="btn btn-info btnWithIcon btnFit" ng-click="FitGraphToView()">Fit</div>
							<!-- <div class="btn btn-info" ng-click="RefreshGraphFromDatabase()">Refresh</div> -->
							<!-- <div class="btn btn-info" ng-click="ChangePhysicsState()">Toggle Physics</div> -->
							<!-- <div class="btn btn-primary" ng-click="EnquirePos()">Enquire Pos</div> -->
						</div>
					</div>
				</div>

				<div id="graphRender" class="col-md-12" style="height:90% !important"></div>
			</div>
		</div>
		<div id="rightPanel" class="col-md-2">
			<div ng-include="'subHtml/rightSideBar.html'"></div>
		</div>

		<!-- Modals -->
		<div id="modalInspectNode" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					    <h5 class="modal-title">Inspection</h5>
					    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					      <span aria-hidden="true">&times;</span>
					    </button>
					</div>
					<div class="modal-body">
					    <p>Do you wish to inspect this node and view it as another graph?</p>
					</div>
					<div class="modal-footer">
					    <button type="button"  ng-click="InspectNode()" class="btn btn-primary">Yes</button>
					    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div ng-include="'subHtml/viewDetailedInfoModal.html'" ></div>
	</div>

	<script>
		// ** Important **
		// Automatically resize the columns of the tables when the tab changes
		$(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
		    console.log("Tab changed");
		    // resize accordingly.
		    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
		});
	</script>
</body>

</html>